.home {
	&__main {
		&-wrapper {
			max-width: 1280px;
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			align-items: center;
			padding-bottom: 150px;
		}
		&-blocks {
			display: flex;
			gap: 100px;
			padding: 55px 30px 200px 30px;
			max-width: fit-content;
			box-shadow: 0 10px 20px 0 rgb(179 187 198 / 45%);
			border-radius: 15px;
		}
		&-title {
			font-size: 46px;
			font-weight: bold;
		}
		&-subtitle {
			color: gray;
			font-size: 16px;
			font-weight: 500;
		}
		@media (max-width: 899px) {
			&-blocks {
				flex-direction: column;
				gap: 50px;
				padding: 15px 30px 50px 30px;
			}
		}
		@media (max-width: 899px) {
			&-blocks {
				flex-direction: column;
				gap: 50px;
				padding: 25px 15px 50px 15px;
			}
		}
		@media (max-width: 899px) {
			&-blocks {
				flex-direction: column;
				gap: 50px;
				padding: 25px 15px 50px 15px;
			}
		}
	}
	&__block {
		display: flex;
		flex-direction: column;
		gap: 20px;
		&-title {
			margin-right: auto;
			margin-bottom: 50px;
			margin-top: 25px;
		}
		@media (max-width: 899px) {
			&-title {
				padding-left: 25px;
			}
		}
	}
}
