.input {
	width: 350px;
	height: 70px;
	padding-left: 20px;
	border: none;
	border-bottom: 1px solid black;
	background-color: lightgray;
	transition: 0.2s ease-in;
	font-size: 24px;
	&:hover {
		transition: 0.2s ease-out;
		border-bottom: 1px solid lightgreen;
		background-color: rgba($color: lightgray, $alpha: 0.5);
	}
	&:focus {
		outline: none;
		border-bottom: 1px solid green;
		background-color: rgba($color: lightgray, $alpha: 0.5);
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&__wrapper {
		position: relative;
	}
	&__clear {
		position: absolute;
		right: 15px;
		top: 35%;
		background-image: url('../Select/icons8-close-16.png');
		width: 16px;
		height: 16px;
		transition: 0.2s ease-in;
		visibility: hidden;
		opacity: 0;
		&:hover {
			transition: 0.2s ease-out;
			transform: scale(1.1);
		}
		&-active {
			visibility: visible;
			opacity: 1;
		}
	}
}
